<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
</head>
<body>
    <h1>Detalles de la Tarea</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Dia</th>
            <th>Estado</th>
        </tr>
        <tr>
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.date}"></td>
            <td th:text="${task.state}"></td>
        </tr>
    </table>
    <a th:href="@{/tasks}" class="btn btn-primary">Regresar</a>
</body>
</html>
